<!DOCTYPE html>
<html lang="pt-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/telaLogin/static/style.css">
    <title>Login</title>
</head>
<body>
    <main>
        <h1>Login</h1>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'warning' %}
                    <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <img src="telaLogin/static/alerta.svg" alt="">
                        <strong>Alerta!</strong> {{ message }}
                    </span>
                {% endif %}
                {% if message.tags == 'success' %}
                    <span id='success' {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <img src="telaLogin/static/check.svg" alt="">
                        <strong>Bem-vindo!</strong> {{ message }}
                    </span>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form id="formLogin" action="{% url 'home' %}" method="POST" class="campos">
            <input name="email" type="email" placeholder="Login" required>
            <input name="senha" type="password" placeholder="Senha" required>
            <div class="cadastro">
                <a href="/cadastro">Não tem uma conta?</a>
            </div>
            {% csrf_token %}
        </form>
        <button form="formLogin" type="submit"><img src="/telaLogin/static/prosseguir.svg" alt="Prosseguir"></button>
    </main>
</body>
</html>